<html>
    <head>
        <title>
            Welcome to our portal
        </title>
        <style>
            .rect {
                position:relative;
top: -10px;

  height: 50%;
  width: 100%;
  background-color:#b100cd;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
          
}
.rect1 {
                position:relative;
top: 100px;

  height: 50%;
  width: 100%;
  background-color:#333;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
          
}

.topnav {

    overflow: hidden;
  background-color: #333;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #333;
  color: white;
}

        </style>
<div class="rect">
    <img src="logo1.png" alt="Trulli" width="300" height="300" style="position: absolute;left: 10px; top: 5px;">
    <p style="position:absolute; top: 10px;left: 320px; color: white; font-size: 45px; font-family: Arial, Helvetica, sans-serif;"><b>FRANCIS XAVIER ENGINEERING COLLEGE</b>  </p>
    <p style="position:absolute; top: 80px;left: 620px; color: rgb(255, 255, 255); font-size: 25px; font-family: Arial, Helvetica, sans-serif;"><b>An Autonomous Institution</b>  </p>

    <p style="position:absolute; top: 150px;left: 320px; color: white; font-size: 15px;">    

AICTE Sponsored Margdarshan Mentor Institution<br>

DST-FIST Supported Institution | ISO 9001:2015 certified

Recognised Under Section 2(f) & 12(B) of the UGC Act,1956<br>

103/G2, Bypass Road, Vannarpettai, Tirunelveli, Tamil Nadu, India - 627003.
</p>
<p style="position:absolute; top: 220px;left: 580px; color: rgb(255, 255, 255); font-size: 25px; font-family: 'Times New Roman', Times, serif"><b>STAFF MANAGEMENT PORTAL</b>  </p>


</div>

<div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="#">Recruitment</a>
    <a href="#">Salary</a>
    <a href="#">Attendance</a>
    <a href="#">Staff profile</a>
    <a href="./Time Table/index.html">Timetable</a>
    <a href="#">Staff reports</a>
  
  
  </div>
  
    </head>
    <body>
<br>
<marquee><b>**** welcome to our portal ****</b></marquee>
      <iframe  src="stat.html" frameBorder="0" width="1350" height="500"></iframe>
        <iframe src="./calender/calender.html" frameBorder="0" width="1350" height="500"></iframe>
        
        <form>
            </form>

    </body>
<div class="rect1">

<footer>
  <span style="position:absolute; top: 260px;; left: 550px; font-family: Arial, Helvetica, sans-serif; opacity: 0.5;">
    <b>© Copyright & design by selva sundar</b>
  </span>
</footer>


</div>

    </html>