
<!doctype html>
<html lang="en">
      
           
                <html>
                    <head>
                        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                
                        <title>
                            Signup page 
                        </title>
                       <style>
                        .rect {
  position:relative;
  top: 50px;
  left: 400px;
  border-radius: 15px 50px 30px;
height: 500px;
width: 450px;
background-color:#ee3219;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  
}
input[type=text],input[type=password],input[type=email] {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
border: none;
background-color: rgb(255, 255, 255);
color: rgb(3, 3, 3);
border-radius: 15px 50px 30px;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

}
.but {
background-color: #429645; /* Green */
border: none;
color: white;
padding: 15px 42px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
border-radius: 15px;
}

.button{
background-color: #429645; /* Green */
border: none;
color: white;
padding: 15px 42px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
border-radius: 15px 50px 30px;
}
.button2:hover {
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

                       </style>
                    </head>
                        
                    <body>
                        
                        <div class="rect">
                        
                        
                            <p style="position:absolute; top: 40px;left: 170px; color: white;"><b>SIGNUP</b>  </p>
                        
                        <table>
                            
                                <form  method="POST" action="/signup/add_signup">
                                                        <th>
                                        <td style="position: relative;top: 80px; left: 70px;">
                                        
                                            
                                            <input type="email" name="u_eml" id="u_eml" placeholder="E-mail" ><br>
                                            <input type="text" name="mbl" id="mbl" placeholder="Mobile number">
                                            <input type="password" name="pwd" id="pwd" placeholder="Password"><br>
                                            <input type="password" name="c_pwd" id="c_pwd" placeholder="Confirm-Password">
                                        
                                        </td>
                                        <td style="position: relative;top: 250px; left: -100px;" >
                                        
                                            
                                            <input type="submit" name="submit_button" class="button button2" value="SIGNUP"/>
                         
                                        </td>
                                            <p style="position:absolute; top: 420px;left: 90px; color: white;"><b>Already an account?</b>  </p>
                                            <a href=""><div style="position:relative;top: 440px; left: 285px;">Signin --></div></a>
                                        
                                        </th>
                                            
                                </form>
                
                            </table>
                            </div>
                                <p style="position:absolute; top: 550px;left: 40px; font-family: Arial, Helvetica, sans-serif; opacity: 0.5;"><b>© Copyright & design by selva sundar</b>  </p>
                                                
                    </body>
                </html>
               
        </div> 
        
        
       </body>
</html>